* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff4ee;
}

#heading {
    background-color: #db814d;
    border: solid 3px #4a4a4a;
    border-radius: 13px;
    margin: 20px 20px 0px 20px;
    padding : 20px;
    text-align: center;
}

h1.navtitle {
    font-size: 40px;
}

#contentbox {
    display: flex;
    flex-direction: row;
    margin: 0px 20px 0px 0px;
}

#genrebox {
    background-color: #db814d;
    border: solid 3px #4a4a4a;
    border-radius: 13px;
    margin: 0 0 0 2%;
    padding: 2%;
}

#genrelist {
    list-style-type: none;
    font-size: 25px;
    line-height: 120%;
}

li.genre {
    background-color: #e86e27;
    font-style: italic;
    border: solid 2px black;
    margin: 5px -20px 0px 0px;
    padding: 13px;
}

li.navlinks {
   display: inline-block;
   font-size: 20px;
}

a {
    color: #b8b8b8;
    text-decoration: none;
}

/*a:visited {
 
}*/

#reviewbox {
    text-align: center;
}

#reviewbox a img {
    width: 75%;
    margin: 2% 0 0 10%;
    border: 5px solid #e86e27;
    border-radius: 15%;
}

/*div.contactform {

}*/

#guidesbox {
    text-align: center;
}

#guidesbox a img {
    width: 75%;
    margin: 5% 0 0 10%;
    border: 5px solid #e86e27;
    border-radius: 15%;
}

#aboutme {
    margin: 5%;
    padding: 2%;
}

#aboutme h1 {
    text-align: center;
    font-size: 300%;

}

#aboutme p {
    margin: 2% 15% 0 15%;
    padding: 2%;
    columns: 3;
    font-size: 125%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

footer {
    display: flex;
    background-color: #e86e27;
    border: 4px solid #4a4a4a;
    margin: auto;
    width: 50%;
    padding: 10px;
}