* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
    background-image: linear-gradient( rgb(250, 166, 166) 1%, rgb(247, 187, 141) 17%, white );
    background-repeat: repeat-x;
    height: 100%;
}

#heading {
    background-color: #f7aa7e;
    border: solid 3px #3d3d3d;
    border-radius: 13px;
    margin: 20px 20px 0px 20px;
    padding : 20px;
    text-align: center;
}

h1.navtitle {
    font-size: 40px;
}

#contentbox {
    display: flex;
    flex-direction: row;
    margin: 0px 20px 0px 0px;
}

#genrebox {
    background-color: #db814d;
    border: solid 3px #4a4a4a;
    border-radius: 13px;
    margin: 0 0 0 2%;
    padding: 2%;
}

#genrelist {
    list-style-type: none;
    font-size: 25px;
    line-height: 120%;
}

li.genre {
    background-color: #e86e27;
    font-style: italic;
    border: solid 2px black;
    margin: auto;
    padding: 13px;
}

li.navlinks {
   display: inline-block;
   font-size: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

/*a:visited {
 
}*/

#reviewbox {
    text-align: center;
    width: 65%;
}

#reviewbox a img {
    width: 100%;
    height: auto;
    margin: 2% 0 0 10%;
    border: 5px solid #ff8c49;
    border-radius: 15%;
}

#guidesbox {
    text-align: center;
    width: 65%;
}

#guidesbox a img {
    width: 100%;
    height: auto;
    margin: 5% 0 0 10%;
    border: 5px solid #ff8b48;
    border-radius: 15%;
}

#aboutme {
    margin: 5%;
    padding: 2%;
}

#aboutme h1 {
    text-align: center;
    font-size: 300%;

}

#aboutme p {
    margin: 2% 15% 0 15%;
    padding: 2%;
    columns: 3;
    font-size: 125%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

footer {
    display: flex;
    flex: auto;
    background-color: #ffc9a9;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
    justify-content: center;
}
footer h3 {
    margin: .6em;
    padding: 1em;
    display: flex;
    color: rgb(0, 0, 0);
}
a:hover {
    color: black;
}
#contactmebox {
    text-align: center;
}
#contactmebox h1 {
    margin-top: .5em;
    color: rgb(255, 87, 115);
    font-size: 2.5em;
    font-weight: 600;
}
#contactmebox p {
    margin-top: .25em;
    margin-bottom: 1em;
    color: rgb(253, 99, 124);
    font-size: 1.5em;
    font-weight: 600;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-input {
    border: 2px solid gray;
    border-radius: 6px;
    font-size: 2em;
    font-weight: 450;
    padding: .5em;
    width: 100%;
}

.form-input:focus {
    outline: none;
    border: 2px solid white;
}

[type = 'submit'] {
    background-image: linear-gradient( rgb(250, 166, 166) 1%, rgb(247, 187, 141) 17%, white ); 
    color: rgb(16, 146, 103);
    width: 100%;
    font-size: 1em;
    font-weight: 800;
    border-radius: 6px;
    border: 0;
    cursor: grabbing;
}

[type = 'submit']:hover,
[type = 'submit']:focus {
    background-image: linear-gradient( rgb(247, 186, 186) 1%, rgb(245, 199, 165) 17%, white ); 
    color: rgb(65, 182, 143);
}

textarea {
    height: 120px;
    resize: vertical;
}

@media screen and (max-width: 992px) {
    #genrebox {
        margin: auto;
        padding: auto;
    }
    #genrelist {
        font-size: 1em;
    }
    li.genre {
        padding: 15%;
    }
    footer h3 {
        font-size: 1.25em;
    }
    #aboutme p {
        columns: 1;
        font-size: 1.25em;
    }
  }

  @media screen and (max-width: 600px) {
    #genrebox {
        margin: auto;
        padding: auto;
    }
    #genrelist {
        font-size: .75em;
    }
    li.genre {
        padding: 5%;
    }
    footer h3 {
        font-size: 1em;
    }
    #aboutme p {
        columns: 1;
        font-size: 1.5em;
    }
  }